.answer-result {
    color: #3f51b5;
    margin-left: 1rem;
    text-align: left;
    width: 100%;
}

.answer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}